scipy==1.10.1
numpy==1.24.3
cython==0.29.34
h5py==3.8.0
matplotlib==3.6.3
pyyaml==6.0
astropy==5.2.1
xarray==0.15.0
getdist==1.4.3
pandas==1.5.2
fastkde==1.0.24
KDEpy==1.1.2
lisaconstants
lisaorbits>=2.1
h5netcdf
lisa-data-challenge==1.2.0